@font-face {
  font-family: "Montserrat";

  src: local("Montserrat"),
    url("../files/montserrat-regular.woff2") format("woff2"),
    url("../files/montserrat-regular.woff") format("woff"),
    url("../files/montserrat-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";

  src: local("Montserrat"),
    url("../files/montserrat-bold.woff2") format("woff2"),
    url("../files/montserrat-bold.woff") format("woff"),
    url("../files/montserrat-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

@media screen {
  .only_screen {
    display: block;
  }
  .only_print {
    display: none;
  }
}
@media print {
  .only_screen {
    display: none;
  }
  .only_print {
    display: block;
  }
}

body {
  min-height: 100vh;
  width: 100vw;
  background: transparent;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.025em;
  color: hsla(200, 95%, 8%, 1);
  font-size: 12pt;
  overflow-x: hidden;
}

@media print {
  body {
    font-size: 7pt;
    grid-template-rows: 3vh auto;
  }
}

header {
  display: block;
  grid-column: span 2;
  background: hsla(200, 95%, 15%, 1);
  min-height: 2em;
}

header nav ul {
  display: flex;
  flex-direction: row;
  margin: 0 5em;
  list-style-type: none;
  align-items: center;
  height: 5vh;
  min-height: 2em;
}

header nav ul li {
  margin: 0 0.5em;
}

header nav ul li a:after {
  bottom: 1px;
}
@media print {
  header nav {
    display: none;
  }
}

h1,
h2,
h3 {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: normal;
}

a,
a:visited,
a:hover {
  color: hsla(185, 95%, 33%, 1);
  text-decoration: none;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
a:after {
  content: "";
  width: 0%;
  position: absolute;
  display: block;
  bottom: -5px;
  right: 0;
  background: hsla(185, 95%, 33%, 1);
  height: 1px;
  transition: width 0.2s ease-in-out;
}

a.active {
  pointer-events: none;
}

@media print {
  a:after {
    content: unset;
  }
}

a:hover:after,
a.active:after {
  width: 100%;
  left: 0;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
  margin-top: 1.7em;
}
h3 {
  font-size: 1.3em;
  margin-top: 1.6em;
  line-height: 1.2em;
}

@media print {
  h2, h3 {
    margin-top: 1.1em;
  }
}


p,
li {
  margin-top: 0.7em;
  line-height: 1.5em;
}
p + p {
  margin-top: 1.2em;
}

section {
  background: transparent;
  padding: 0 6vw 3vh;
}

section .title {
  text-align: center;
  width: 100%;
  margin: 3vh 0;
}

@media print {
  section {
    padding: 0 4vw 0 9.5vw; /*20mm left*/
  }
  section .title {
    margin: 2vh 0 1.3vh;
  }
}

section .title h1 {
  font-size: 2em;
}
section .title h2 {
  font-size: 1.7em;
  line-height: 1.4em;
  font-weight: normal;
}
section .title h1,
.title h2 {
  margin: 0;
}
section .title > span {
  display: block;
  height: 2px;
  width: 20%;
  margin: 1.5vh auto;
  background: hsla(200, 95%, 15%, 1);
}
section .title h3 {
  font-size: 1em;
  line-height: 1.2em;
  text-transform: none;
  text-align: left;
  margin: 2em 6em 4em;
}
section .title h3 > span {
  display: block;
  margin-top: 1em;
}

section .career li {
  margin-top: 0.4em;
  list-style-type: disc;
  margin-left: 1em;
}

aside {
  background: hsla(200, 95%, 8%, 0.15);
  display: flex;
  flex-direction: column;
  padding: 0 3vw 3vh;
  perspective: 5000px;
  perspective-origin: 50% 20%;
}

@media print {
  aside {
    padding: 0 5vw 3vh;
  }
}

aside li {
  list-style-type: none;
}

aside div {
  width: 100%;
  margin-top: 2vh;
}

aside div.profile:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}
aside div.profile {
  transform-origin: 80% 50%;
  transform-style: preserve-3d;
  position: relative;
  width: 75%;
  margin: 2vh auto 0;
  transition: transform 0.7s ease-in-out;
  cursor: pointer;
}

aside img {
  width: 100%;
  margin: 0 auto;
  display: block;
  position: absolute;
  backface-visibility: hidden;
  filter: grayscale(1) contrast(1.3) brightness(0.9);
}
aside img.color {
  transform: rotateY(180deg);
  filter: none;
}

@media print {
  aside div.profile.flipped {
    transform: none;
  }
  aside img {
    filter: none;
  }
  aside img.color {
    display: none;
  }
}

aside div.lang {
  position: relative;
}
aside div.lang p span {
  position: relative;
  display: inline-block;
  transform: rotateZ(0deg);
  transition: transform 0.3s cubic-bezier(0.45, 0.3, 0.55, 1.25);
}
aside div.lang:hover p > span {
  transform: rotateZ(180deg);
}
aside div.lang:hover p > span > span {
  transform: rotateZ(-180deg);
}

aside ul.cool_stuff li,
aside .contact ul li {
  position: relative;
  padding-left: 2em;
}

aside ul.cool_stuff li:before,
aside .contact ul li:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0.15em;
  width: 1.2em;
  height: 1.2em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
aside .contact ul li.dob:before {
  background-image: url("../files/dob.svg");
}
aside .contact ul li.address:before {
  background-image: url("../files/address.svg");
}
aside .contact ul li.phone:before {
  background-image: url("../files/phone.svg");
}
aside .contact ul li.mail:before {
  background-image: url("../files/mail.svg");
}
aside .contact ul li.skype:before {
  background-image: url("../files/skype.svg");
}

aside ul.cool_stuff li.git:before {
  background-image: url("../files/git.svg");
}
aside ul.cool_stuff li.web:before {
  background-image: url("../files/web.svg");
}

@media print {
  aside .contact ul li.dob a {
    color: hsla(200, 95%, 8%, 1);
    cursor: default;
  }
}

aside div.education span {
  font-size: 0.8em;
  font-weight: bold;
}

aside div:last-of-type {
  margin-bottom: 2vh;
}

aside .date {
  margin: auto 0 1.5vh;
  font-size: 0.8em;
  color: hsla(200, 95%, 8%, 0.5);
}
aside .date span {
  width: 25%;
  display: inline-block;
}
